html,
body,
#__nuxt,
#__layout,
#app {
  @apply h-full;
}

input::placeholder,
textarea::placeholder {
  @apply opacity-100;
  @apply text-font-secondary;
  @apply text-opacity-75;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  @apply opacity-100;
  @apply text-font-secondary;
  @apply text-opacity-75;
}

::selection {
  @apply bg-secondary-darker;
  @apply text-font-inverse-primary;
} 

::-moz-selection {
  @apply bg-secondary-darker;
  @apply text-font-inverse-primary;
} 

input, textarea, button, a {
  @apply transition;
  @apply duration-300;
  @apply ease-in-out;
}

a {
  @apply outline-none;
  @apply text-secondary;
}

a:hover, a:focus {
  @apply text-secondary-dark;
}

a:focus {
  @apply shadow-outline;
}

a[disabled] {
  @apply opacity-50;
  @apply pointer-events-none;
}

input:not([type]),
input[type='text'],
textarea {
  @apply outline-none;
  @apply py-1;
  @apply px-2;
  @apply w-full;
  @apply bg-font-inverse-secondary;
  @apply text-font-primary;
}

input:not([type]),
input[type='text'] {
  @apply border-primary-darker;
  @apply border;
}

textarea:hover,
textarea:focus {
  @apply bg-font-tertiary;
}

.form-checkbox {
  cursor: inherit;
}

.form-checkbox:focus {
  @apply outline-none;
  @apply shadow-outline;
  @apply border-primary-darker;
}

.form-checkbox + span {
  @apply opacity-75;
}

.form-checkbox:hover + span,
.form-checkbox:focus + span {
  @apply opacity-100;
}

button {
  @apply px-4;
  @apply py-2;
  @apply flex;
  @apply items-center;
  @apply bg-transparent;
  @apply text-font-primary;
  @apply rounded-lg;
  @apply outline-none;
  @apply leading-none;
}

button.primary {
  @apply bg-secondary-light;
}

button:hover,
button:focus {
  @apply bg-secondary-dark;
  @apply text-font-inverse-primary;
  @apply shadow;
}

button:focus {
  @apply outline-none;
  @apply shadow-outline;
}

button svg {
  @apply fill-current;
  @apply flex-grow-0;
  @apply w-6;
  @apply mr-1;
}

.list-group > span:empty {
  @apply block;
  @apply w-full;
  height: 1px;
}

.list-group-item {
  min-width: 300px;
}

.blur {
  filter: blur(6px);
}

.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity;
  @apply ease-in-out;
  @apply duration-300;
}

.fade-enter,
.fade-leave-to {
  @apply absolute;
  @apply opacity-0;
}

.fade-enter {
  z-index: 1;
}
