.theme-dark {
  --color-body: #141414;
  --color-font-primary: rgba(255, 255, 255, .93);
  --color-font-secondary: rgba(255, 255, 255, .65);
  --color-font-tertiary: rgba(255, 255, 255, .25);
  --color-font-inverse-primary: rgba(0, 0, 0, .93);
  --color-font-inverse-secondary: rgba(0, 0, 0, .65);
  --color-font-inverse-tertiary: rgba(0, 0, 0, .25);
  --color-primary-lighter: #04423b;
  --color-primary-light: #21c5b2;
  --color-primary-default: #04776c;
  --color-primary-dark: #055f55;
  --color-primary-darker: #03302a;
  --color-secondary-lighter: #1d5a16;
  --color-secondary-light: #175e0f;
  --color-secondary-default: #24801a;
  --color-secondary-dark: #309725;
  --color-secondary-darker: #5cbe51;
}
