.theme-grayscale {
  --color-body: #b4b4b4;
  --color-font-primary: #080808;
  --color-font-secondary: #2b2b2b;
  --color-primary-light: #b6b6b6;
  --color-primary-default: #474747;
  --color-primary-dark: #303030;
  --color-secondary-light: #adadad;
  --color-secondary-default: #919191;
  --color-secondary-dark: #6d6d6d;
}
